# Fichiers systèmes (Mac/Windows)
.DS_Store
Thumbs.db
Desktop.ini

# Dossiers d'éditeurs de code (VS Code, IntelliJ, etc.)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Dossiers virtuels Python
venv/
env/
__pycache__/
*.pyc