# --- Frameworks & Base ---
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
duckdb>=0.10.3

# --- Data Engine ( scripts 01 à 04) ---
pandas>=2.2.0
pyarrow>=15.0.0

# --- Utilitaires ---
tqdm==4.66.1
requests==2.31.0
python-Levenshtein==0.25.0
rapidfuzz>=3.6.0
orjson==3.9.15
# redis==5.0.1  pour le cache